{{!-- FOR ALL USER CATEGORIES --}}

<div id="categories">
     {{#if categories}}
       <div class="collection">
           {{#each categories}}
                <a href="/categories/{{this.name}}" class="collection-item">{{this.name}}</a>
           {{/each}}
      </div>
     {{/if}}
    <a data-position="bottom" data-tooltip="Create New Category" href="/categories/new" class="btn-floating btn-large waves-effect waves-light red tooltipped"><i class="material-icons">add</i></a>
</div>