    <div class="center flex-column">
        <form method="POST" action="#" class="row flex-column">
            <div class="input-field col">
            <input id="email-input" type="text" class="validate">
            <label for="email-input">Email</label>
            </div>
            <div class="input-field col" >
            <input id="password-input" type="password" class="validate">
            <label for="password-input">Password</label>
            </div>
            <button class='btn' type="submit">Submit</button>
        </form>
    </div>