<div class="card">
    <div class="card-content">
        <span class="card-title center-align">Register</span>

            {{> 'form' inputProperties=inputProperties}}

        <div class='align-center'>
            <a class='center-align' href='/login'>Already have an account?</a>
        </div>
    </div>
</div>