
<form action="{{formController.form.action}}" method="POST" class="form-basic">
    {{#each formController.inputs}}
        {{#if (isTypeTextarea this)}}
            {{> inputTypes/textarea input=this}}
        {{else if (isTypeSwitch this)}}
            {{> inputTypes/switch input=this}}
        {{else}}
            {{> inputTypes/input input=this}}
        {{/if}}
    {{/each}}
    <button class='btn-small' type="submit">Submit</button>
</form>