<nav class="{{mainColor}}">
    <div class="nav-wrapper container">
        <a href="#" class='brand-logo'>Reddit</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a href='/categories'>Categories</a>
            </li> 
            <li>
                <a href='/user'>Account</a>
            </li> 
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a href='/categories'>Categories</a>
            </li> 
            <li>
                <a href='/user'>Account</a>
            </li> 
</ul>