<div class="card-panel {{mainColor}} darken-4 scale-transition scale-out" id="infoMessages">
    {{#each infoMessages}}
        <span class="white-text">{{this}}</span>
    {{/each}}
</div>

<script>
    const infoMessages = document.getElementById('infoMessages');
    infoMessages.classList.toggle('scale-out');
    infoMessages.classList.toggle('scale-in');
    setTimeout(() => {
        infoMessages.classList.toggle('scale-in');
        infoMessages.classList.toggle('scale-out');
    }, 5000)
//   setTimeout(() => {
//      infoMessages.remove();
//    }, 5000)
</script>