
{{#with input}}
  <div class="switch">
    <label>
      {{this.inputProperty.offString}}
      <input type="checkbox" name="{{this.name}}">
      <span class="lever"></span>
      {{this.inputProperty.onString}}
    </label>
  </div>
  <br>
{{/with}}