

.Navbar {

    z-index: 10;

    width: calc(100vw - 8rem);

    position: absolute;
    top: 0;
    left: 0;

    padding-left: 4rem;
    padding-right: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--shade);
    transition: top 250ms ease-in-out;
}

.Navbar.hidden {
    top: -70px;
}

.Navbar-header {
    color: var(--orange);
    font-family: 'Montserrat', sans-serif;
}



.Navbar-button {
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: none;
    border-radius: 12px;
    margin: .5rem;
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}


.Navbar-button.active {
    color: var(--orange);
    font-weight: lighter;
}

.Navbar-button:hover,
.Navbar-button:focus {

    filter: brightness(150%);
}


@media only screen and (min-width: 800px) {

    .Navbar-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


}


@media only screen and (max-width: 799px) {
    .Navbar {
        justify-content: center;

    }

    .Navbar-buttons {
        background-color: var(--shade);
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: absolute;
        left: -220px;
        transition: left 350ms ease-in-out;
        box-shadow: 2px 0px 2px var(--dark);
    }
    
    .Navbar-buttons.open {
        left: 0px;
    }

    .Navbar-button {
        width: 80%;
        margin: .2rem;
    }
    
    .mobile-menu-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 0px;
        height: 0px;

        
        position: absolute;
        top: 34px;
        right: 34px;

    }

    .mobile-menu-button {
        background-color: var(--shade);
        border-radius: 8px;
        padding: 6px;
        border: none;
        cursor: pointer;
        height: fit-content;
    }

    .mobile-menu-button:hover {
        filter: brightness(1.5);
    }


    .mobile-menu-bar {
        width: 20px;
        height: 4px;
        margin: 3px;
        background-color: black;
    }
}