<div class="card">
    <div class="card-content">
        <span class="card-title center-align">Login</span>
            {{> form inputProperties=inputProperties}}
        <div class='align-center'>
            <a class='center-align' href='/register'>Need an account?</a>
        </div>
    </div>
</div>